[phases.setup]
nixPkgs = ['php82', 'php82Extensions.pdo_mysql', 'php82Extensions.mbstring', 'php82Extensions.gd', 'php82Extensions.curl', 'php82Extensions.bcmath', 'php82Extensions.zip']

[phases.install]
cmds = ['composer install --no-dev --optimize-autoloader --no-interaction']

[phases.build]
cmds = [
  'php artisan config:clear',
  'php artisan route:clear',
  'php artisan view:clear',
  'php artisan cache:clear'
]

[phases.deploy]
cmds = [
  'php artisan storage:link || true',
  'php artisan migrate --force --no-interaction',   # INI YANG PALING PENTING
  'php artisan config:cache',
  'php artisan route:cache',
  'php artisan view:cache'
]

[start]
cmd = "php artisan serve --host=0.0.0.0 --port=${PORT}"
